@import url('https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500');
@charset "UTF-8";
iframe {
  border: none !important;
}
.footer {
  background-color: orange !important;
  text-align: center !important;
  color: white !important;
  left: 0 !important;
  bottom: 0px !important;
  width: 100% !important;
}

.footer a {
  color: white !important;
}

/* Style the search box inside the navigation bar */
.navigation input[type=text] {
  float: right !important;
  padding: 6px !important;
  border: none !important;
  margin-top: 17.5px !important;
  margin-right: 16px !important;
  font-size: 17px !important;
  background-color: #10BA65 !important;
  color: white !important;
  -webkit-transition: width 0.4s ease-out-in !important;
  transition: width 0.4s ease-out-in !important;
}

.navigation a.home {
  display: block !important;
  padding: 0 20px !important;
  line-height: 70px !important;
  background-color: #ed1212;
  color: white !important;
  font-size: 25px !important;
}

.navigation a.home img {
  height: 24px !important;
}

nav {
  float: right !important;
}
nav ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
nav ul li {
  float: left !important;
  position: relative !important;
}
nav ul li a {
  display: block !important;
  padding: 0 20px !important;
  line-height: 70px !important;
  background: #00AA55 !important;
  color: #ffffff !important;
  text-decoration: none !important;
}
nav ul li a:hover {
  background: #10BA65 !important;
  color: #ffffff !important;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px !important;
  content: " ▾" !important;
}
nav ul li ul li {
  min-width: 190px !important;
}
nav ul li ul li a {
  padding: 15px !important;
  line-height: 20px !important;
  z-index: 1 !important;
}

.nav-dropdown {
  position: absolute !important;
  display: none !important;
  z-index: 1 !important;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15) !important;
}

.nav-mobile {
  display: none !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background: #00AA55 !important;
  height: 70px !important;
  width: 70px !important;
}

#nav-toggle {
  position: absolute !important;
  left: 18px !important;
  top: 22px !important;
  cursor: pointer !important;
  padding: 10px 35px 16px 0px !important;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer !important;
  border-radius: 1px !important;
  height: 5px !important;
  width: 35px !important;
  background: #ffffff !important;
  position: absolute !important;
  display: block !important;
  content: "" !important;
  transition: all 300ms ease-in-out !important;
}
#nav-toggle span:before {
  top: -10px !important;
}
#nav-toggle span:after {
  bottom: -10px !important;
}
#nav-toggle.active span {
  background-color: transparent !important;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0 !important;
}
#nav-toggle.active span:before {
  transform: rotate(45deg) !important;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg) !important;
}

@media only screen and (max-width: 1000px) {
  .nav-mobile {
    display: block !important;
  }

  nav {
    width: 100% !important;
    padding: 70px 0 15px !important;
  }
  nav ul {
    display: none !important;
  }
  nav ul li {
    float: none !important;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px !important;
  }
  nav ul li ul li a {
    padding-left: 30px !important;
  }

  .nav-dropdown {
    position: static !important;
  }
}
@media screen and (min-width: 1000px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 70px !important;
  background: #00AA55 !important;
  position: fixed!important;
  top: 0px !important;
  width: 100% !important;
  left: 0px !important;
}

.nav-container {
  max-width: 100% !important;
  margin: 0 auto !important;
}

.brand {
  position: absolute !important;
  padding-left: 20px !important;
  float: left !important;
  line-height: 70px !important;
  text-transform: uppercase !important;
  font-size: 1.4em !important;
}
.brand a,
.brand a:visited !important{
  color: #ffffff !important;
  text-decoration: none !important;
}
body {
  font-family:'Open Sans', sans-serif !important;
  margin:0 !important;
  padding:0 !important;
  font-size:1em !important;
  background-color: #00AA55 !important;
}
input {
  border-radius: 5px !important;
}
#child {
  line-height: 300px;
  font-size: 90px;
  color: white;
  }
 
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #00AA55;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #10BA65;
  color: black;
}
.topnav a.home {
  background-color: #ed1212;
  color: white;
  padding: 20px 16px;
  font-size: 25px;
}
.topnav a.home img {
  height: 24px;
}
.topnav div a:hover {
  background-color: #00AA55;
}
/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #ff9900;
  color: white;
}
/* Add a black background color to the top navigation bar */
.midnav {
  overflow: hidden;
  position: fixed;
  background-color: #00AA55;
  width: 100%;
}
/* Style the links inside the navigation bar */
.midnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.midnav a.r:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.o:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.y:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.g:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.b:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.i:hover {
  background-color: #00AA55;
  color: black;
}
.midnav a.v:hover {
  background-color: #00AA55;
  color: black;
}
/* Style the "active" element to highlight the current page */
.midnav a.r {
  background-color: red;
  color: white;
}
.midnav a.o {
  background-color: orange;
  color: white;
}
.midnav a.y {
  background-color: yellow;
  color: black;
}
.midnav a.g {
  background-color: green;
  color: white;
}
.midnav a.b {
  background-color: blue;
  color: white;
}
.midnav a.i {
  background-color: indigo;
  color: white;
}
.midnav a.v {
  background-color: violet;
  color: white;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-image: url('searchicon.png');
  background-color: #10BA65;
  color: white;
  -webkit-transition: width 0.4s ease-out-in;
  transition: width 0.4s ease-out-in;
}
input[type=text] {
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  text-align: left;
  float: center;
  width: ;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
/* iframe code */
iframe { position: absolute; float: left; clear: both; width: 100%; height: 100%; z-index: -100; left no-repeat; left: 0px; top: 55px;}
